.table_today__cell_revenue {
  width: 200px;
  flex-shrink: 0;
}

.table_today__cell_visits {
  width: 100px;
}

.table_today__cell_closed-orders {
  width: 100px;
}

.table_today__cell_new-orders {
  width: 100px;
}
