@import "base";

.card {
  background-color: white;
  border-radius: 3px;
  @include shadow(1);
  margin: 0 0 10px 10px;
  overflow: hidden;
  padding: 20px;
}

.card__header {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: normal;
}

.card__content {

}
