.dashboard {

}

.dashboard__row {
  display: flex;
}

.dashboard__row-item {
  flex: 1 1 auto;
}

.dashboard__row-item_orders {
  min-width: 400px;
}

.dashboard__row-item_today {
  min-width: 300px;
}

